<!-- <div *ngIf="match" class="form-horizontal"> -->
  <div>
    <h2>MATCH PAIR</h2>
  <h2>{{match.name}} | {{match.scName}} | {{match.datePlayed | date: "longDate"}}</h2>

{{match | json}}
<br>
{{match.nmae | json }}

<!-- Second table  match[].playerNames raises an error that allows MatTable above to load,  Second table unaffected  TODO -->
<div *ngIf="match;">
  <h2>{{match.playerNames}} </h2>
   <ng-template #loading>Loading User Data...</ng-template>
<div class="col-md-12">
 <table class="table table-bordered">
   <thead>
   <tr>
     <th>Name</th>
     <th>Cap</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let scoredm of match;">
     <td>{{scoredm.playerNames}}</td>
     <td>{{scoredm.playersHCap}}</td>
   </tr>
   </tbody>
