<!-- <h2>Match List</h2>
    <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-icon-button color="primary" (click)="addMatch()">
                <mat-icon class="mat-18">create</mat-icon>
                Add
            </button>
          </div>
        </div>
      </div> -->

<table mat-table [dataSource]="dataSource" matSort (matSortChange) = "ngAfterViewInit()" [ngClass]="{true:'bold'}[dateFlag]">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="datePlayed" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element" > {{element.datePlayed  | date: 'MMM dd yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="scName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
    <td mat-cell *matCellDef="let element"> {{element.scName}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary"(click)="onSelectMatch(element)">
          <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="pair">
      <th mat-header-cell *matHeaderCellDef> Pair </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onPairMatch(element)">
            <mat-icon class="mat-18">file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="scores">
        <th mat-header-cell *matHeaderCellDef> Scores </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="onScoreMatch(element)">
              <mat-icon class="mat-18">score</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteMatch(element)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let element"[ngClass] = "{'bold': element.dateFlag}" ></tr>
</table>
